[Unit]
Description=Anthonian Imperx GigEVision Service
After=basic.target

[Service]
WorkingDirectory=/home/anthony/ARGH/IpxSDK
Type=forking
ExecStart=/bin/bash /home/anthony/ARGH/IpxSDK/IpxGigE.sh
StandardOutput=/data/log/IpxGigE.log
StandardError=/data/log/IpxGigE.log
Restart=always
User=root

[Install]
WantedBy=multi-user.target