[Unit]
Description=Aerospace Recorder for Graphical History
After=basic.target

[Service]
ExecStart=/usr/bin/make run
WorkingDirectory=/home/anthony/ARGH/src
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target